*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(67, 57, 57);
}

main{
    background-color: white;
    width: 560px;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 5px black
}

h1{
    font-size: 2em;
    color: rgb(125, 7, 31) ;
}

h2{
    font-size: 1.5em;
    color: rgb(125, 7, 31) ;
}

img.lado {
    float: right;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: black;
}

img{
    width: 150px;
}
